n8n_workflow.json
{
  "name": "Fraud Detection Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fraud-alert",
        "options": {}
      },
      "name": "Webhook Fraud Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "phi3:mini",
        "prompt": "You are a bank security agent. Write a polite email to a customer regarding a suspicious transaction. \nDetails: {{ $json[\"body\"][\"transaction\"] }}\nRisk: {{ $json[\"body\"][\"prediction\"][\"risk_level\"] }}\n\nInclude two links: \n1. VALIDATE (Legitimate): http://localhost:5679/webhook/feedback?id={{ $json[\"body\"][\"transaction\"][\"transaction_id\"] }}&fraud=0\n2. CONFIRM FRAUD: http://localhost:5679/webhook/feedback?id={{ $json[\"body\"][\"transaction\"][\"transaction_id\"] }}&fraud=1"
      },
      "name": "LLM Generate Email",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "phi3:mini",
        "options": {
          "baseUrl": "http://host.docker.internal:11434"
        }
      },
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Urgent: Suspicious Activity Detected",
        "message": "={{ $json[\"text\"] }}",
        "toEmail": "={{ $json[\"body\"][\"transaction\"][\"email\"] }}"
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_cred_id",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "feedback",
        "options": {}
      },
      "name": "Webhook Feedback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://serving:8000/feedback",
        "jsonParameters": true,
        "options": {},
        "body": "={{ {\"transaction_id\": $json[\"query\"][\"id\"], \"true_label\": $json[\"query\"][\"fraud\"], \"feature_engineering_input\": {}, \"prediction\": 0} }}"
      },
      "name": "API Feedback Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [450, 500]
    }
  ],
  "connections": {
    "Webhook Fraud Alert": {
      "main": [
        [
          {
            "node": "LLM Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Generate Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate Email": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Feedback": {
      "main": [
        [
          {
            "node": "API Feedback Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}