n8n_workflow.json
{
  "name": "Fraud Detection Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fraud-alert",
        "options": {}
      },
      "name": "Webhook Fraud Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "phi3:mini",
        "prompt": "You are a bank security agent. Write a polite email to a customer regarding a suspicious transaction. \nDetails: {{ JSON.stringify($json[\"body\"][\"transaction\"]) }}\nRisk: {{ $json[\"body\"][\"prediction\"][\"risk_level\"] }}\n\nInclude two links: \n1. VALIDATE (Legitimate): http://127.0.0.1:8800/recommend/CUST_72886 fraud=0\n2. CONFIRM FRAUD: http://localhost:8600"
      },
      "name": "LLM Generate Email",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "phi3:mini",
        "options": {
          "baseUrl": "http://host.docker.internal:11434"
        }
      },
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Urgent: Suspicious Activity Detected",
        "message": "={{ $json[\"text\"] }}",
        "toEmail": "={{ $json[\"body\"][\"transaction\"][\"email\"] }}"
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_cred_id",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "feedback",
        "webhookMethod": "GET",
        "options": {}
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "bb38a451-63c5-404f-acfc-1686925ae219"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://serving-api:8080/feedback",
        "jsonParameters": true,
        "options": {},
        "body": "={{ {\"payload\": {}, \"correct_class\": $json[\"query\"][\"fraud\"].toString() == '1', \"prediction\": false} }}"
      },
      "name": "API Feedback Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json[\"query\"][\"fraud\"].toString() == '1' ? \"<!DOCTYPE html><html><head><title>Fraud Confirmed</title><style>body { font-family: Arial, sans-serif; text-align: center; padding-top: 50px; background-color: #f8d7da; color: #721c24; } .container { background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); display: inline-block; } h1 { margin-bottom: 10px; } p { font-size: 1.2em; }</style></head><body><div class='container'><h1>Transaction Marked as Fraud</h1><p>Thank you. We have blocked your card and secured your account.</p></div></body></html>\" : \"<!DOCTYPE html><html><head><title>Transaction Verified</title><style>body { font-family: Arial, sans-serif; text-align: center; padding-top: 50px; background-color: #d4edda; color: #155724; } .container { background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); display: inline-block; } h1 { margin-bottom: 10px; } p { font-size: 1.2em; }</style></head><body><div class='container'><h1>Transaction Verified</h1><p>Thank you. You can continue using your card securely.</p></div></body></html>\" }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook Fraud Alert": {
      "main": [
        [
          {
            "node": "LLM Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Generate Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate Email": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "API Feedback Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Feedback Call": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}